@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

html,
body,
#root {
  background-image: linear-gradient(#88888820 1px, transparent 1px),
    linear-gradient(to right, #88888820 1px, #00000000 1px);
  background-size: 100px 100px;

  @apply w-screen h-screen font-outfit bg-zinc-200 transition-all dark:bg-second;
}

body:before {
  content: "";
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;

  @apply h-screen w-screen bg-transparent transition-all bg-[radial-gradient(circle,#e4e4e7_60%,rgba(255,255,255,0.00)_100%)] dark:bg-[radial-gradient(circle,#111827_60%,rgba(255,255,255,0.00)_100%)];
}
